.Posting_title{
    margin-top: 20px;
    margin-bottom:20px;
}

.Posting_cont p{
    font-weight: 600;
}

.Posting_cont_img{
    margin-top: 20px;
    display: flex;
   
}


.Posting_cont_img input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Posting_cont_input{
    padding-left: 1vw;
    padding-right: 1vw;
}

.Posting_cont_input p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.Posting_cont_input form select, input, textarea{
    background-color :azure;
    border: 2px solid rgb(0, 128, 0, 0.2);
   width: 95%;
}

.Posting_btn{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Posting_btn p{
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
}

.Posting_btn button{
    margin-top: 10px;
    text-align: center;
    height: 30px;
    border: none;
    background-color: green;
    border-radius: 20px;
    color: aliceblue;
    font-size: 15px;
    font-weight: 800;
}